{% extends 'base.html.twig' %}

{% block title %}index des commentaires{% endblock %}

{% block body %}
{% for commentOne in comments %}
    <a class="lien" href="{{ path ('comment_show', {'id' : commentOne.id}) }}">
<p>{{ loop.index }} - {{ commentOne.comment }} - {{ commentOne.rate }}</p></a>
    {% endfor %}
{% endblock %}
