{% extends 'base.html.twig' %}

{% block title %}Episodes{% endblock %}

{% block body %}
 <h3>Tous les épisodes de toutes les séries</h3>
 <ul>
  {% for episode in episodes %}
  <li>
   {{ episode.season.program.title }} - saison{{ episode.season.number }} - ep {{ episode.number }} - {{ episode.title }}
  </li>
  {% endfor %}
 </ul>
{% endblock %}
