body {
  padding: 0 30px 30px 30px;
  font-family: $text-font;
}

.lien  {
  text-decoration: none;
  color: $text-color;
  font-family: $text-font;
}
.saison_titre, .saison_description {
  list-style-type: none;
}
.série_titre {
  font-size: $title-medium;
}
.saison_titre {
  font-weight: bold;
}
.poster {
  width: 25%;
  height: auto;
}
