.bloc-nav {
  background-color: $base-color !important;
}
.nav-title {
  font-family: $title-font;
  font-size: $title-size;
}
.nav-click {
  font-family: $text-font;
  font-size: $texte-size;
}

.btn-outline-success {
  color: $button-color;
  border-color: $button-color;
}

.btn-outline-success:hover {
  background-color: $button-color;
  border-color: white;
}
