$base-color : #0F6065;
$secondary-color : black;

@font-face {
  font-family: 'Changa', sans-serif;
  src: url("//Fonts/Changa");
}
@font-face {
  font-family: 'Raleway', sans-serif;
  src: url("//Fonts/Raleway");
}
$title-font : Changa;
$text-font: Raleway;
$title-size: 3em;
$texte-size: 1em;